Prüftool (Version 1.00) meldet: "Die Verkettung zwischen dem vorigen Beleg und dem aktuellen Beleg ist ungültig."

Hallo,

Das Prüftool (Version 1.00) meldet beim Überprüfen einer DEP-Datei "Die Verkettung zwischen dem vorigen Beleg und dem aktuellen Beleg ist ungültig. Bitte überprüfen Sie die Berechnung des Verkettungswerts oder die Abfolge der maschinenlesbaren Codes im exportierten RKSV-DEP."

Die Berechnung ist aber meines erachtens korrekt. 

In der Ausagbedatei DEP-json wird folgende Signatur des vorherigen Beleges für die Verkettung angegeben.

"CHAINING_INPUT" : "eyJhbGciOiJFUzI1NiJ9.X1IxLUFUMl8xMjM0NTZfMV8yMDE2LTEwLTI2VDE1OjI0OjM2XzAsMDBfMCwwMF8wLDAwXzAsMDBfMCwwMF9LYlF4UkVtS2NFQT1fMDE3Mjk3MDQ0OUZEN0YwNTg0QUZGQ0IxNTZfalphZTcyN0swOEk9.QkjMaqXfafn91Dez52T6Rp1TO290C7NpVYQaywD52LnEGPv2rsUp6o8dZrsg1MgzE8Ip7CHdZ7of7Y-vN4PwWw"

Hier fehlen aber die letzten beiden Zeichen, das Ganze müsset eigentlich so aussehen:

"eyJhbGciOiJFUzI1NiJ9.X1IxLUFUMl8xMjM0NTZfMV8yMDE2LTEwLTI2VDE1OjI0OjM2XzAsMDBfMCwwMF8wLDAwXzAsMDBfMCwwMF9LYlF4UkVtS2NFQT1fMDE3Mjk3MDQ0OUZEN0YwNTg0QUZGQ0IxNTZfalphZTcyN0swOEk9.QkjMaqXfafn91Dez52T6Rp1TO290C7NpVYQaywD52LnEGPv2rsUp6o8dZrsg1MgzE8Ip7CHdZ7of7Y-vN4PwWw=="

Kann es sein, dass das Prüftool noch einen Fehler hat?

MFG

Anlagen:

**DEP-EXPORT-FILE**
```
{
  "Belege-Gruppe": [
    {
      "Signaturzertifikat": "MIIFlDCCA3ygAwIBAgINAXKXBEn9fwWEr/yxVjANBgkqhkiG9w0BAQsFADB7MQswCQYDVQQGEwJBVDENMAsGA1UECBMEV2llbjENMAsGA1UEBxMEV2llbjEjMCEGA1UEChMaZS1jb21tZXJjZSBtb25pdG9yaW5nIEdtYkgxKTAnBgNVBAMTIEdMT0JBTFRSVVNUIFJLUy1DQVJEIDIwMTUgVEVTVCAxMB4XDTE2MDIwMzAwMDAwMFoXDTE2MDgwMjAyNTMxNVowgYUxCzAJBgNVBAYTAkRFMREwDwYDVQQHDAhNw7xuc3RlcjEbMBkGA1UEChMSVmVjdHJvbiBTeXN0ZW1zIEFHMSQwIgYDVQQDExtSS1MtQ0FSRCBvaG5lIFRyYW5zcG9ydC1QSU4xIDAeBgNVBAUTFzAyLTA0LTA0LURFLTAwLTEwLTE2LTM3MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEQ+yHl3tlW/7tANowRNKRASTrY5Tp/M7kg6X3AafZhapfyf7XIDa5Kp2xgeoU5aIkVXuabpxM7VY5AaptqOdxU6OCAdUwggHRMA4GA1UdDwEB/wQEAwIHgDAdBgNVHQ4EFgQUhaDA3eTU5EqtRF1NHItTqBHkmxswHwYDVR0jBBgwFoAUo8KCxeAFFNFPJGcJwbbJj1z5XPAwgZMGCCsGAQUFBwEBBIGGMIGDMCYGCCsGAQUFBzABhhpodHRwOi8vb2NzcC5nbG9iYWx0cnVzdC5ldTBZBggrBgEFBQcwAoZNaHR0cDovL3NlcnZpY2UuZ2xvYmFsdHJ1c3QuZXUvc3RhdGljL2dsb2JhbHRydXN0LXJrcy1jYXJkLTIwMTUtdGVzdC0xLWRlci5jZXIwWgYDVR0fBFMwUTBPoE2gS4ZJaHR0cDovL3NlcnZpY2UuZ2xvYmFsdHJ1c3QuZXUvc3RhdGljL2dsb2JhbHRydXN0LXJrcy1jYXJkLTIwMTUtdGVzdC0xLmNybDBdBgNVHSAEVjBUMFIGCCooACQBAT0BMEYwRAYIKwYBBQUHAgEWOGh0dHA6Ly9zZXJ2aWNlLmdsb2JhbHRydXN0LmV1L3N0YXRpYy9ya3MtY2FyZC1wb2xpY3kucGRmMBcGByooAAoBCwEEDAwKdGVzdHN0cmluZzAVBgcqKAAkBAEDBAoECAIEBN4AEBY3MA0GCSqGSIb3DQEBCwUAA4ICAQBcI2zTxaZeyaKKdqEDuuNjOTb/AEoQmQxthTIB3snjdDgtxStoKMv77zxq70i3zRIbwJBz/tpdG6C87sFQdcKcJd+8HmmMyAbZVsEUo2IQmN25jcZYKmM1ODlAj/EP63HwPDm19UDBYMJnuOZ3DPqmkJ32Iw6ELePnPMUfZ7SXnI5And4ddaaQ26QJssVBZrNQUWlPuuwLXhZMg99FC98CO8omctpVBG93luX/loqfgcAyIOH8yH8xzhWpUqh8OICdunBCaaLT2dfk8+nYhlVzoahRWgobzSKr0UDJuZAqAqm3drVFR/C/WVjnM/vIQY2LTy372cdVdQfpz0eFcnIlmfxszKksp14P3H144WX5VtCquhx2HM8UYPZlA3dyTds6rJY0lFxYYhQCJksJRSxVXsznDkaLwDZ/T5VSI20ZMVeEmJyJWbMrJXG8X8z24O0bo4mlVssnEVPDSRYO3zVfXA4iQjxKPTpL/QCOrgIixOyW1NO6P7h8d4+7wOjc02GOvQVEwU8kOcorx0S46aMGI2lSgP9ur4z8Y+hqk8KJSI6L54UO5xZ9O3ADBWS/XZn5g6wMs0bpJNuQ78bV7w3rOeTTjrFsj+Dm6udEsuGqDVJ7OvoWv7kgLS5HXyx66UqBkAnJ5TekOGKrmYmKfx4tvSQlUOsIE3fS7bCKqtsH4g==",
      "Zertifizierungsstellen": [
        "MIIHTDCCBTSgAwIBAgINAT2y412ZujOxcGuOVjANBgkqhkiG9w0BAQsFADCBoDELMAkGA1UEBhMCQVQxDTALBgNVBAgTBFdpZW4xDTALBgNVBAcTBFdpZW4xIzAhBgNVBAoTGmUtY29tbWVyY2UgbW9uaXRvcmluZyBHbWJIMSowKAYDVQQLEyFHTE9CQUxUUlVTVCBDZXJ0aWZpY2F0aW9uIFNlcnZpY2UxIjAgBgNVBAMTGUdMT0JBTFRSVVNUIFJLUy1DQVJEIDIwMTUwHhcNMTYwMTA3MDAwMDAwWhcNNDAwNjEwMDAwMDAwWjB7MQswCQYDVQQGEwJBVDENMAsGA1UECBMEV2llbjENMAsGA1UEBxMEV2llbjEjMCEGA1UEChMaZS1jb21tZXJjZSBtb25pdG9yaW5nIEdtYkgxKTAnBgNVBAMTIEdMT0JBTFRSVVNUIFJLUy1DQVJEIDIwMTUgVEVTVCAxMIICIDANBgkqhkiG9w0BAQEFAAOCAg0AMIICCAKCAgEAnZwV5+BqcxlyvIdMABC2yguZsZsfKndTZ1qsXNnJLPaE12PPCLlbTEHXC+eS9H8AtRS+G+JNDp34m1BqnbNQiXGtSMQSkYRRlepOf7mWBe1bvlUNkPFGVtailguubTir+WuFR6+TiJBes38t2UEPCjpiGTzusRMRTWwA2igovaToqtfPssVWPggqNObdVgk9Vsjw+mwZCdl2C90swJO0NRx3POpdnu6DoaM+WZgGkg/bRQCBwu2qf6p5NqG7LeRFBis+HdDs7ra7w+HsrWZxAzpTXLi1K7WFR3neCBxK9Wv+2UXgl8RN3/kqq8qA6gxLnXKxB2NqkVHPoDTu1RHOKFfobu1h7biB1Czam1cuoO9jKsz56sMD2A52QkVwaMNSLcrhSCw72lDxw42ftRoZ2kv82OzefWfJayOyfNFfjlTDOlsbslxRNfkQ0iggDQcwm/sZh8n63gOp7WemcHmfyk3r/GF+dDxrJDgJ6cIFvu1Rn27WBaXBzl9zryc38zRw+EdgfXWt7041X8gCp3e221doMwJarFgOycw7l/rbyUb/34dnkFwQVgcdV8rkTcLB3/GVP725/wGJHgmlMtJAkrI656wbjzJiPBxXIcKFQ3atUD6hQn4s1+4mS59rfsYpmSLatCEDUsEvThhhCoM5m2fdANNXgqp/wwWjJM429N0CAQOjggGpMIIBpTASBgNVHRMBAf8ECDAGAQH/AgEAMA4GA1UdDwEB/wQEAwIBBjAdBgNVHQ4EFgQUo8KCxeAFFNFPJGcJwbbJj1z5XPAwHwYDVR0jBBgwFoAUmiyxnT6Ib1FPN7/Oj9rmZR5tEKkwgYoGCCsGAQUFBwEBBH4wfDAmBggrBgEFBQcwAYYaaHR0cDovL29jc3AuZ2xvYmFsdHJ1c3QuZXUwUgYIKwYBBQUHMAKGRmh0dHA6Ly9zZXJ2aWNlLmdsb2JhbHRydXN0LmV1L3N0YXRpYy9nbG9iYWx0cnVzdC1ya3MtY2FyZC0yMDE1LWRlci5jZXIwUwYDVR0fBEwwSjBIoEagRIZCaHR0cDovL3NlcnZpY2UuZ2xvYmFsdHJ1c3QuZXUvc3RhdGljL2dsb2JhbHRydXN0LXJrcy1jYXJkLTIwMTUuY3JsMF0GA1UdIARWMFQwUgYIKigAJAEBPQEwRjBEBggrBgEFBQcCARY4aHR0cDovL3NlcnZpY2UuZ2xvYmFsdHJ1c3QuZXUvc3RhdGljL3Jrcy1jYXJkLXBvbGljeS5wZGYwDQYJKoZIhvcNAQELBQADggIBAC00Dsfp48OU+f5QNikQJXbOWRhcYJNXlcZLWWODygLKfLgH1FoprDdSAnHfRZeYYusTDVQQDW65lsSVrIS4pVsCmlbghAvaaBoTa5U2eCtwrJFOi3f4UkNVEvc57qfgO4gSVEf0dDAd64Eqj137uD613R71PaAvdA+Roiw4eaSVKaOOyOLrzaZ+mdWP1G7vJmoKFEbFHw49W6RSyOtUW8jsk1YTsCFdhqJfzbnB7SYQOu3ANe6NGac+AouEZtX8QVrqgBZLBPw6HFxEXQBvnx0DbNM6YsvKgV4GywI4SIfSkvwQ+2w/SxM3TY6eVSiuPYT4fOF9oXLQr/PC02S7biaNvZ5+4KBE1RnFuiNxE4UH+2+oxSsOBa6qQzZayCfV/hWnyBLY8X0ZLRIZWFaTY6Xzs2SusbTVTRBJeUz5dXwSOmIQrKGDuHbjbymQPyLU03I9GoK2hJq3l0AR38ZInsenWMvnAq1WJXwtYBC4LwnD8I4brj35WvjGUS1h85lz0Wxe09Ey3d35QAQ2hu5cierE0nxI3WRD57ivHA/K63YfFatXUTx4ti9ELKMjPtm9+hhffiG8HskfKYt+2i6kk79eWx7sNyJacegrlE7Hpk2MeWF8DKDpfSO5Y+Jr3HfHCCiKppFu+xVp+07k6lluAuxWx3JBDiZsAjNEE5sVnVrD",
        "MIIGHjCCBAagAwIBAgIBADANBgkqhkiG9w0BAQsFADCBoDELMAkGA1UEBhMCQVQxDTALBgNVBAgTBFdpZW4xDTALBgNVBAcTBFdpZW4xIzAhBgNVBAoTGmUtY29tbWVyY2UgbW9uaXRvcmluZyBHbWJIMSowKAYDVQQLEyFHTE9CQUxUUlVTVCBDZXJ0aWZpY2F0aW9uIFNlcnZpY2UxIjAgBgNVBAMTGUdMT0JBTFRSVVNUIFJLUy1DQVJEIDIwMTUwHhcNMTUxMjA5MDAwMDAwWhcNNDAwNjEwMDAwMDAwWjCBoDELMAkGA1UEBhMCQVQxDTALBgNVBAgTBFdpZW4xDTALBgNVBAcTBFdpZW4xIzAhBgNVBAoTGmUtY29tbWVyY2UgbW9uaXRvcmluZyBHbWJIMSowKAYDVQQLEyFHTE9CQUxUUlVTVCBDZXJ0aWZpY2F0aW9uIFNlcnZpY2UxIjAgBgNVBAMTGUdMT0JBTFRSVVNUIFJLUy1DQVJEIDIwMTUwggIgMA0GCSqGSIb3DQEBAQUAA4ICDQAwggIIAoICAQDvW0hXsTkY9cF6tVevJDFhNJ/NT5hzM+WInkteBx3tQZAS2HMm8INZRVR5KtzV6iBXod/1MP1sw+eEX/AUiv23QDNK/dtdefCRsPKsFa8NPWa8IP1HeaaV428R4tL/4u8JnvmjUXQDK1lPaquRoB1hOP+/fopa4wu4yeFvHzH5t7LlCm4GJdfwJUlSTa6eB7GiVdPJPNug0n3pqlQVBDkRGga0KyR+BmOtKBwC6phYbpMnkTDrN3Joh2j0aTIR66PGivFz1CB4lAs8XRzLlt7RuE1Xu51zvF0ae+Kcuoc8wJMO6L4oSWc46RTnT3GhVSvnpXp4T9IvMxf4llbXXFUNEeHCJOBxDG+vSAfLxOo6j2FM/ZVOw3Ik97AFHMs71q+2OggyrVsGzjNBwJknd+KJ7A+gaBnqOOCem1ZvYWW/AO1hJ7ACPKeGtXF3mVJTu51u0fEGFWoaIU5yP3cZpTjSLn6LFZdWCBISUGAyCRFy8apwPquodJcDpAspwqhSSXa3nQpG9GOC85FlLC8d3gG4jX2+6ERAaYZ9kXKMz9ZupNYw+qJYbpLBMHVT0cqJIZHpoKDlNLWLlcANRkE5Mch5gLwGyUb5/f1Q9vq9V8PuyMvezRIx2NAplLyIHq5Zc62UG2vLpEIx2P4hMtLb4X4a7wPBzdD8PsYHct+/23BvHwIBA6NjMGEwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAQYwHQYDVR0OBBYEFJossZ0+iG9RTze/zo/a5mUebRCpMB8GA1UdIwQYMBaAFJossZ0+iG9RTze/zo/a5mUebRCpMA0GCSqGSIb3DQEBCwUAA4ICAQAR6hqDwMqjBiPtVeIg7tiPQtBFcbX4hEPrKO5oox5X12oshwX5+WBlKlwrZ8UqQDfb2wY1dpvkJ/K2TtNCn1UIPRA4ngX08yCCafWB0elXg5SOtQgOajs0A70lY9S3Vc3RL7UqpsmMQt8hPOp77LQpjQ5WiSoB0pQ7eSZhounR2f8gYZM4EROIC/UjIVTYza3ga93sweg2b1DvUsi3uMIXWjF0zzxepw+BpM8ro06/P4J6EPnMlkKWEap9by8bzhrapbwUdwz6Ps8Xr2ffo9xgEGJT8hBhlc4Gq1YYzRiEVwFmZTNoWS+pN34XqBptTfNFvQQW1xq8tjXOTR64RDUTtOzuBYKWSWTekSh7vmmXJyAi2EGuFnRRQWvM4rGLhgDj4ni49RODlLqwgGVJh81D1OdxG/2FXdnOz/F0WQk+UU+0qGniNvRdC/0LJR2i+7yujNi8Hs2GPtT7XP7wklUq8pCe0oNRctEuOsrJmvUTh+nBTG/q0RQqcdu3+3+ZxMwj+hcImFGJerTgMkZD68lZP6IFiNIjvRKkAaG0D9iUJv6mQh6MjLYGHGphQ6Sj/lEVVjfmm+r4we0bmUZruH8bcPKmk5Cpm0OsDfycUH79PxWR7u0b3Wbc929Nz+/kbzJCn9r8c8qSqo+f59ine4VdDB/ihN2QS/TuhXE9RBQhaQ=="
      ],
      "Belege-kompakt": [
        "eyJhbGciOiJFUzI1NiJ9.X1IxLUFUMl8xMjM0NTZfMV8yMDE2LTEwLTI2VDE1OjI0OjM2XzAsMDBfMCwwMF8wLDAwXzAsMDBfMCwwMF9LYlF4UkVtS2NFQT1fMDE3Mjk3MDQ0OUZEN0YwNTg0QUZGQ0IxNTZfalphZTcyN0swOEk9.QkjMaqXfafn91Dez52T6Rp1TO290C7NpVYQaywD52LnEGPv2rsUp6o8dZrsg1MgzE8Ip7CHdZ7of7Y-vN4PwWw==",
        "eyJhbGciOiJFUzI1NiJ9.X1IxLUFUMl8xMjM0NTZfMl8yMDE2LTEwLTI2VDE1OjI0OjM4XzMsMjBfMCwwMF8wLDAwXzAsMDBfMCwwMF9lNHhDVkRZcHRpbz1fMDE3Mjk3MDQ0OUZEN0YwNTg0QUZGQ0IxNTZfcVJxR2MrMHA0eUU9.SN86t1wFaMdUxNGwYjqnhee950rxM7jmQ_OdE2fN2bvCXbzHkjghY0oZOoV_wl8jGOItcLEHSxLsjLFK9HGA4w==",
        "eyJhbGciOiJFUzI1NiJ9.X1IxLUFUMl8xMjM0NTZfM18yMDE2LTEwLTI2VDE1OjI0OjQxXzIsMTBfMCwwMF8wLDAwXzAsMDBfMCwwMF81YnZGYVh4RXZ3RT1fMDE3Mjk3MDQ0OUZEN0YwNTg0QUZGQ0IxNTZfZnhFWElyYVp6eEE9.EGGmgl5H-GX0ulouYoFqZU78mjnoinNHxNruzlfUWERa-q85EqSakAfT_M_pPNFnyO0A8jiz61bL8rbd0k1bSg=="
      ]
    }
  ]
}
```

**CRYPTOGRAPHIC-MATERIAL-FILE**
```
{
  "base64AESKey": "hvx24s4ybIIsdNoGcDoEMJ7eWLY05LiCbuSCirzavNo=",
  "certificateOrPublicKeyMap":    {
      "0172970449FD7F0584AFFCB156":        {
          "id": "0172970449FD7F0584AFFCB156",
          "signatureDeviceType": "CERTIFICATE",
          "signatureCertificateOrPublicKey": "MIIFlDCCA3ygAwIBAgINAXKXBEn9fwWEr/yxVjANBgkqhkiG9w0BAQsFADB7MQswCQYDVQQGEwJBVDENMAsGA1UECBMEV2llbjENMAsGA1UEBxMEV2llbjEjMCEGA1UEChMaZS1jb21tZXJjZSBtb25pdG9yaW5nIEdtYkgxKTAnBgNVBAMTIEdMT0JBTFRSVVNUIFJLUy1DQVJEIDIwMTUgVEVTVCAxMB4XDTE2MDIwMzAwMDAwMFoXDTE2MDgwMjAyNTMxNVowgYUxCzAJBgNVBAYTAkRFMREwDwYDVQQHDAhNw7xuc3RlcjEbMBkGA1UEChMSVmVjdHJvbiBTeXN0ZW1zIEFHMSQwIgYDVQQDExtSS1MtQ0FSRCBvaG5lIFRyYW5zcG9ydC1QSU4xIDAeBgNVBAUTFzAyLTA0LTA0LURFLTAwLTEwLTE2LTM3MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEQ+yHl3tlW/7tANowRNKRASTrY5Tp/M7kg6X3AafZhapfyf7XIDa5Kp2xgeoU5aIkVXuabpxM7VY5AaptqOdxU6OCAdUwggHRMA4GA1UdDwEB/wQEAwIHgDAdBgNVHQ4EFgQUhaDA3eTU5EqtRF1NHItTqBHkmxswHwYDVR0jBBgwFoAUo8KCxeAFFNFPJGcJwbbJj1z5XPAwgZMGCCsGAQUFBwEBBIGGMIGDMCYGCCsGAQUFBzABhhpodHRwOi8vb2NzcC5nbG9iYWx0cnVzdC5ldTBZBggrBgEFBQcwAoZNaHR0cDovL3NlcnZpY2UuZ2xvYmFsdHJ1c3QuZXUvc3RhdGljL2dsb2JhbHRydXN0LXJrcy1jYXJkLTIwMTUtdGVzdC0xLWRlci5jZXIwWgYDVR0fBFMwUTBPoE2gS4ZJaHR0cDovL3NlcnZpY2UuZ2xvYmFsdHJ1c3QuZXUvc3RhdGljL2dsb2JhbHRydXN0LXJrcy1jYXJkLTIwMTUtdGVzdC0xLmNybDBdBgNVHSAEVjBUMFIGCCooACQBAT0BMEYwRAYIKwYBBQUHAgEWOGh0dHA6Ly9zZXJ2aWNlLmdsb2JhbHRydXN0LmV1L3N0YXRpYy9ya3MtY2FyZC1wb2xpY3kucGRmMBcGByooAAoBCwEEDAwKdGVzdHN0cmluZzAVBgcqKAAkBAEDBAoECAIEBN4AEBY3MA0GCSqGSIb3DQEBCwUAA4ICAQBcI2zTxaZeyaKKdqEDuuNjOTb/AEoQmQxthTIB3snjdDgtxStoKMv77zxq70i3zRIbwJBz/tpdG6C87sFQdcKcJd+8HmmMyAbZVsEUo2IQmN25jcZYKmM1ODlAj/EP63HwPDm19UDBYMJnuOZ3DPqmkJ32Iw6ELePnPMUfZ7SXnI5And4ddaaQ26QJssVBZrNQUWlPuuwLXhZMg99FC98CO8omctpVBG93luX/loqfgcAyIOH8yH8xzhWpUqh8OICdunBCaaLT2dfk8+nYhlVzoahRWgobzSKr0UDJuZAqAqm3drVFR/C/WVjnM/vIQY2LTy372cdVdQfpz0eFcnIlmfxszKksp14P3H144WX5VtCquhx2HM8UYPZlA3dyTds6rJY0lFxYYhQCJksJRSxVXsznDkaLwDZ/T5VSI20ZMVeEmJyJWbMrJXG8X8z24O0bo4mlVssnEVPDSRYO3zVfXA4iQjxKPTpL/QCOrgIixOyW1NO6P7h8d4+7wOjc02GOvQVEwU8kOcorx0S46aMGI2lSgP9ur4z8Y+hqk8KJSI6L54UO5xZ9O3ADBWS/XZn5g6wMs0bpJNuQ78bV7w3rOeTTjrFsj+Dm6udEsuGqDVJ7OvoWv7kgLS5HXyx66UqBkAnJ5TekOGKrmYmKfx4tvSQlUOsIE3fS7bCKqtsH4g=="
        }
    }
}
```


Ich vermute, dass da das Problem liegt: JWS verwenden BASE64-URL Encoding. Das "=" Zeichen kann im BASE64-URL Encoding Standard entfallen (siehe https://tools.ietf.org/html/rfc4648#page-7), ist aber im JWS-Standard explizit ausgeschlossen. Auszug aus https://tools.ietf.org/html/rfc7515:

 Base64url Encoding
      Base64 encoding using the URL- and filename-safe character set
      defined in Section 5 of RFC 4648 [RFC4648], with all trailing '='
      characters omitted (as permitted by Section 3.2) and without the
      inclusion of any line breaks, whitespace, or other additional
      characters.  Note that the base64url encoding of the empty octet
      sequence is the empty string.  (See Appendix C for notes on
      implementing base64url encoding without padding.)

Das war das Problem. Danke, jetzt funktioniert es.

MFG